<div class="contaier__button">
  <button
  mat-raised-button
  color="primary"
  (click)="goToSolicitudIngreso()"
  >
    Nueva Solicitud de ingreso
  </button>
</div>

<div class="container">
  <form class="form item">
      <section>
       <div class="container_table">
        <p>Listado de estudiantes:</p>
        <table class="table">
          <thead>
            <tr>
              <th>name</th>
              <th>patronus</th>
              <th>yearOfBirth</th>
              <th>age</th>
              <th>image</th>
            </tr>
          </thead>
      <tbody>
        <tr *ngFor="let item of estudiantes">
          <td>{{item.name}}</td>
          <td>{{item.patronus}}</td>
          <td>
            <p *ngIf="item.yearOfBirth.toString().length>0">{{item.yearOfBirth}}</p>
            <p *ngIf="item.yearOfBirth.toString().length<=0">unKnow yearOfBirth</p>
          </td>
          <td>
            <p *ngIf="item.yearOfBirth.toString().length>0">{{currentYear - item.yearOfBirth}}</p>
            <p *ngIf="item.yearOfBirth.toString().length<=0">unKnow age</p>
          </td>
          <td>
            <img class="image" *ngIf="item.image.length>0" [src]="item.image"/>
            <p *ngIf="item.image.length<=0">no image found</p>
          </td>
        </tr>
      </tbody>
      </table>
      </div>
    </section>

  </form>

</div>
